

/* Button.css */
 
button {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    border: solid black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
   background-color: rgb(197, 8, 8);
    border-color: #000000;
}
 
button:hover {
    background-color: #302762;
    color:rgb(255, 255, 255);
    
}
 
button:active {
    background-color: #1b1145;
    color: aqua;
}
@media screen and (max-width:900px) {
   button{
       
        font-size: 1.5rem;
    }
    
}